* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom right, #E9BCAC, #D1C6F3);
}

.editorContainer::-webkit-scrollbar {
  width: 5px;
}

.editorContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.editorContainer::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 5px;
}

.editorContainer::-webkit-scrollbar-thumb:hover {
  background-color: #c2c4b6;
}

.editorContainer::-webkit-scrollbar-thumb:active {
  background-color: #c2c4b6;
}

.editorContainer::-webkit-scrollbar-button {
  display: none;
}
